<section style="width: 30vw">
  <section>
    <table>
      <thead>
        <th><input type="checkbox" [(ngModel)]="checkList.checkAll" /></th>
        <th>id</th>
        <th>checked</th>
        <th>disabled</th>
        <th>name</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of checkList.data; index as i">
          <td>
            <input
              type="checkbox"
              [disabled]="item.disabled"
              [(ngModel)]="item.checked"
            />
          </td>
          <td>{{ item.id }}</td>
          <td>{{ item.checked }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.disabled }}</td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <span class="pager" (click)="pre()">上一页</span>&nbsp;<span
      class="pager"
      (click)="next()"
      >下一页</span
    >
  </section>
  已选中：
  <section>
    <!-- 在页面上直接调用方法非最佳实践，此处只为演示结果 -->
    <ul *ngFor="let item of checkList.getCheckedRows()">
      <li>{{ item | json }}</li>
    </ul>
  </section>
</section>
